body {
    background-color: #FAF1E6;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#usersInfo {
    background-color: #FDFAF6;
    color: #064420;
    border-radius: 25px;
    padding: 35px;
}

input {
    padding:3px;
    border-color: #064420;
    border-radius: 5px;
    border-width: 1px;
}

button {
    text-align: center;
    border-radius: 5px;
    margin:10px;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    background-color: #E4EFE7;

}

#login_button:hover {
    color: white;
    background-color: #064420;
}

.user_info {
    /* soemthing */
    width: 50%;
    /* align-items: center; */
    margin-left: 25%;
    margin-top: 12%;
    color: #1B262C;
}

.error_message {
    color: red;
}

.login_tag {
    /* color: #DFA67B; */
}

nav {
    border-style: hidden;
    background-color: lightgoldenrodyellow;
    margin-top: 5%;
    padding: 2% 1%;
    
    /*
    display: inline;
    position: sticky;
    */
}


/* .nav_text {
    /* color: black; */
    /* font-size: 25px; */
    /* margin: 1%; */
    /*
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 30px;
    padding: 200px;
    */
    
/* } */

a {
    text-decoration: none;
    color:black;
}

.nav_text {
    text-decoration: none;
    color:black;
    font-size: 20px;
    padding: 2% 0.8%;
}

.nav_text:hover {
    background-color: orange;
    color: white;
}

/* a { */
    /* display: inline-block; */
    /* text-decoration: none;
    color:black;
    font-size: 20px;
    padding: 2% 0.8%;
}

a:hover {
    background-color: orange;
    color: white;
} */

.logout_text {
    float: right;
}

.login_form_text {
    margin: 5%;
}



/* button {
    background-color: red;
} */

.comment_button {
    margin-left: 0.5%;
    padding: 2% 0.8%;
    vertical-align: top;
}

.events_info {
    margin-left: 1%;

}

.events_info {
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    background-color: rgb(93, 240, 161);
}

#done_editing_button {
    margin-left: 0.5%;
    padding: 1.3% 1%;
    vertical-align: top;
}

/* .comment_text {
    display:inline-block;
} */

/* need to indent before showing the information */
/* table {
    margin-left: 15%; 
} */