body {
    background-color: #F6E3C5;
    /* text-align: center; */
    /* margin: 10px; */

    font-family: Georgia, 'Times New Roman', Times, serif;
}

#usersInfo {
    background-color: #FDFAF6;
    color: #064420;
    border-radius: 25px;
    padding: 35px;
}

.create_form {
    background-color: #FDFAF6;
    color: #064420;
    border-radius: 25px;
    padding: 35px;
    /* text-align: left; */
}

.form_title {
    text-align: center;
}

.form_page {
    text-align: center;
}

.get_info_form {
    /* soemthing */
    width: 60%;
    display: inline-block;
    margin-top: 5%;
    

    /* align-items: center; */
    /* display: flex; */

    /* justify-content: center; */
    /* text-align: center;
    margin-left: 25%;
    margin-top: 12%;
    /* margin: 10%; */
    color: #1B262C;
}

/* div.get_info_form {
    top: 50%;
    left: 50%;
} */

.form_content {
    margin: 5%;
    text-align: left;
}

input {
    padding:3px;
    border-color: #064420;
    border-radius: 5px;
    border-width: 1px;
}

/* .submit_button {
    text-align: center;
    border-radius: 5px;
    margin:10px;
    padding: 10px 20px;
    font-size: 20px;
    border: solid 0.1px;
    background-color: #E4EFE7;

} */

/* button { */
#login_button, #join_rso_button, #leave_rso_button, .go_back, .submit_button {
    text-align: center;
    border-radius: 5px;
    margin:10px;
    padding: 10px 20px;
    font-size: 20px;
    /* border: none; */
    border: solid 0.1px;
    background-color: #E4EFE7;

}

#login_button:hover, #join_rso_button:hover, #leave_rso_button:hover, .go_back:hover, .submit_button:hover {
    color: white;
    background-color: #064420;
}

#accept_button {
    text-align: center;
    border-radius: 5px;
    margin:10px;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    background-color: green;
    color: white;
}

#decline_button {
    text-align: center;
    border-radius: 5px;
    margin:10px;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    background-color: red;
    color: white;
}

/* .go_back {
    text-align: center;
    border-radius: 5px;
    /* margin:10px; */
    /* margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    background-color: #E4EFE7;
}  */

.user_info {
    /* soemthing */
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-top: 12%;
    color: #1B262C;
}

.error_message {
    color: red;
    font-weight: bold;
}

.success_message {
    color: green;
    font-weight: bold;
}

.info {
    margin-left: 10%;
    margin-right: 10%;
    /* display: flex;
    justify-content: space-between; */
    /* border: 10px; */
}

/* .login_tag {
    /* color: #DFA67B; */
/* }  */

nav {
    border-style: hidden;
    background-color: #4CACBC;
    /* margin-top: 5%; */
    /* padding: 2% 1%; */
    /* padding-left: 10px;
    padding-right: 10px; */
    border-radius: 17px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    /* color: white; */
    
    /*
    display: inline;
    position: sticky;
    */
}


/* .nav_text {
    /* color: black; */
    /* font-size: 25px; */
    /* margin: 1%; */
    /*
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 30px;
    padding: 200px;
    */
    
/* } */

a {
    text-decoration: none;
    color:black;
}

.nav_text {
    text-decoration: none;
    color:white;
    font-size: 20px;
    /* padding: 10px; */
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 5px;
    padding-left: 8px;
    /* padding: 10px, 20px; */
    /* padding: 2% 0.8%; */
    /* display:block; */
    /* display: inline-block; */
}

/* .logout_text, .nav_text {
    /* justify-content: right; */
    /* float: top; */
    /* float:right; */
    /* text-align: right; */
/* }  */

/* .logout_text, .nav_text {
    /* justify-content: space-between; */
    /* display: inline-block; */
/* } */

.nav_text:hover {
    background-color: #6CC4A1;
    color: white;
}

/* .events_info {
    padding: 5px;
    margin: 15px;
    border-radius: 5px;
    /* display: inline-block; */
    /* vertical-align: center;
} */

.page_title {
    color: black;
}
.events_list {
    /* margin-left: 5px;
    margin-right: 5px; */
    margin: 20px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
    background-color: #A0D995;
    /* display: flex; */
    /* justify-content: space-between; */
    /* display: flex; */
    /* float: right; */
    /* justify-content: space-between; */

    /* color: white; */
    /* color: #F2EDD7; */
    /* background-color: rgb(93, 240, 161); */
}

.time_info {
    text-align: left;
    display: flex;
    float: right;
    /* justify-content: right; */
    /* margin-left: 300px; */
    /* color: white; */

    /* display: inline-block; */
}

.event_info {
    display: inline-block;
    width: 400px;
    margin-left: 12px;
    margin-right: 12px;
    color: #064420;
}

.event_name {
    font-size: 30px;
}

.desciption {
    margin-left: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.action_rso {
    margin-top: 30px;
}

/* h2, p {
    text-align: center;
} */

/* a { */
    /* display: inline-block; */
    /* text-decoration: none;
    color:black;
    font-size: 20px;
    padding: 2% 0.8%;
}

a:hover {
    background-color: orange;
    color: white;
} */

/* .logout_text {
    /* float: right; */
    /* justify-content: right; */
    /* display: inline-block; */
    
/* }  */

.login_form_text {
    margin: 5%;
}



/* button {
    background-color: red;
} */

.comment_button {
    margin-left: 0.5%;
    padding: 2% 0.8%;
    vertical-align: top;
    font-size: 20px;
    border: none;
    background-color: #E4EFE7;
    border-radius: 5px;
}
/* 
.events_info {
    margin-left: 1%;

} */

#done_editing_button {
    margin-left: 0.5%;
    padding: 1.3% 1%;
    vertical-align: top;
}

#event_info_map {
    /* padding: 20px; */
    /* margin: 20px; */
    /* margin-left: 10px; */
    margin-top: 20px;
    /* margin: 10px */
    /* width: 100px; */
    /* height: 200px; */
    /* border: 0px; */
}

#single_location {
    width: 75%;
    height: 150px;
    zoom: 3;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* iframe {
    zoom: 1;
} */

/* .comment_text {
    display:inline-block;
} */

/* need to indent before showing the information */
/* table {
    margin-left: 15%; 
} */

/* map on create_event_page */
#uni_map {
    width: 500px;
    height: 500px;
    margin-left: 10px;
    border: solid 1px;
}
